name: Deploy to Staging

on:
  push:
    branches:
      - master

jobs:
  deploy:
    # Do not deploy in the main repository, only in user projects
    if: github.repository_owner != 'fastapi'
    runs-on:
      - self-hosted
      - staging
    env:
      ENVIRONMENT: staging
      DOMAIN: ${{ secrets.DOMAIN_STAGING }}
      STACK_NAME: ${{ secrets.STACK_NAME_STAGING }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      FIRST_SUPERUSER: ${{ secrets.FIRST_SUPERUSER }}
      FIRST_SUPERUSER_PASSWORD: ${{ secrets.FIRST_SUPERUSER_PASSWORD }}
      SMTP_HOST: ${{ secrets.SMTP_HOST }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      EMAILS_FROM_EMAIL: ${{ secrets.EMAILS_FROM_EMAIL }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      DREAM_CENTRAL_STORAGE_URL: ${{ secrets.DREAM_CENTRAL_STORAGE_URL }}
      DREAM_CENTRAL_STORAGE_EMAIL: ${{ secrets.DREAM_CENTRAL_STORAGE_EMAIL }}
      DREAM_CENTRAL_STORAGE_PASSWORD: ${{ secrets.DREAM_CENTRAL_STORAGE_PASSWORD }}
      DREAM_CENTRAL_STORAGE_WEBHOOK_SECRET: ${{ secrets.DREAM_CENTRAL_STORAGE_WEBHOOK_SECRET }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: docker compose -f docker-compose.yml --project-name ${{ secrets.STACK_NAME_STAGING }} build
      - run: docker compose -f docker-compose.yml --project-name ${{ secrets.STACK_NAME_STAGING }} up -d
